In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [4]:
dates = pd.date_range("20130101", periods=6)

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [6]:
df2 = pd.DataFrame(
        {
            "A": 1.0,
            "B": pd.Timestamp("20130102"),
            "C": pd.Series(1, index=list(range(4)), dtype="float32"),
            "D": np.array([3] * 4, dtype="int32"),
            "E": pd.Categorical(["test", "train", "test", "train"]),
            "F": "foo",
        }
)

In [8]:
df.head()

                   A         B         C         D
2013-01-01 -0.328603 -0.366380 -0.619592 -2.822423
2013-01-02 -0.427067  0.317282 -0.938094 -0.148115
2013-01-03 -3.012013 -0.535066  0.790945  0.209057
2013-01-04  0.762696  0.243109  1.879514  1.108437
2013-01-05 -0.402783 -0.876177 -0.093985  0.367029

In [9]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.762696  0.243109  1.879514  1.108437
2013-01-05 -0.402783 -0.876177 -0.093985  0.367029
2013-01-06 -1.049293  0.837073  1.210975 -1.206224

In [10]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
df.to_numpy()

array([[-0.32860292, -0.36637983, -0.61959229, -2.82242287],
       [-0.42706726,  0.3172823 , -0.93809362, -0.14811456],
       [-3.01201345, -0.53506589,  0.79094519,  0.20905686],
       [ 0.76269556,  0.24310942,  1.87951383,  1.10843652],
       [-0.40278323, -0.87617667, -0.09398487,  0.3670287 ],
       [-1.04929264,  0.8370728 ,  1.21097545, -1.20622421]])

In [13]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.742844 -0.063360  0.371627 -0.415373
std    1.256713  0.636332  1.101702  1.401058
min   -3.012013 -0.876177 -0.938094 -2.822423
25%   -0.893736 -0.492894 -0.488190 -0.941697
50%   -0.414925 -0.061635  0.348480  0.030471
75%   -0.347148  0.298739  1.105968  0.327536
max    0.762696  0.837073  1.879514  1.108437

In [14]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -2.822423 -0.619592 -0.366380 -0.328603
2013-01-02 -0.148115 -0.938094  0.317282 -0.427067
2013-01-03  0.209057  0.790945 -0.535066 -3.012013
2013-01-04  1.108437  1.879514  0.243109  0.762696
2013-01-05  0.367029 -0.093985 -0.876177 -0.402783
2013-01-06 -1.206224  1.210975  0.837073 -1.049293